{% extends 'facturas/layout/main.html' %}
{% load static %}
{% block titulo %} Facturas {% endblock titulo %}
{% block is_active_facturas %}
active
{% endblock is_active_facturas %}
{% block js %}
<script src="{% static 'js/facturas.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container pt-lg-5">
    <div class="card">
        <div class="card-title">
            <h3 class="">Facturas</h3>
        </div>
        <div class="card-body">
            <div class="container">
                <form method="post" action="{% url 'new_factura' %}" class="ps-3 pe-3" id="form-create-cfdi">
                    {% csrf_token %}
                    <style>
                        .errorlist {
                            color: #e65f5f;
                            font-size: 12px;
                        }
                    </style>
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col">
                                <label class="mr-sm-2" for="NameId">Nombre de la factura</label>
                                <input
                                    type="text"
                                    name="NameId"
                                    class="form-control"
                                    id="NameId"
                                />
                            </div>
                            <div class="col">
                                <label class="mr-sm-2" for="Folio">Folio</label>
                                <input
                                    type="text"
                                    name="Folio"
                                    class="form-control"
                                    id="Folio"
                                />
                            </div>
                            <div class="col">
                                <label class="mr-sm-2" for="Exportation">Operacion de Exportacion</label>
                                <select class="form-select mr-sm-2" id="Exportation" name="Exportation">
                                    <option value="">Choose</option>
                                    <option value="01">01 - No Aplica</option>
                                    <option value="02">02 - Definitiva con clave A1</option>
                                    <option value="03">03 - Temporal</option>
                                    <option value="04">04 - Definitiva con clave distinta a A1 o cuando no existe enajenación en términos del CFF</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="mr-sm-2" for="ExpeditionPlace">Lugar de Expedicion</label>
                                <input
                                    type="text"
                                    name="ExpeditionPlace"
                                    class="form-control"
                                    id="ExpeditionPlace"/>
                                    <!--
                                <select class="form-select mr-sm-2" id="ExpeditionPlace" name="ExpeditionPlace">
                                </select>
                                    -->
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="mr-sm-2" for="id_select_cliente">Cliente</label>
                                <select class="form-select mr-sm-2" id="id_select_cliente" name="Cliente"></select>
                            </div>
                            <div class="col">
                                <label class="mr-sm-2" for="id_select_cliente">Tipo CFDI</label>
                                <select class="form-select mr-sm-2" id="id_select_cfdi_use" name="CfdiType"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="mr-sm-2" for="id_select_forma_pago">Forma de Pago</label>
                                <select class="form-select mr-sm-2" id="id_select_forma_pago" name="PaymentForm"></select>
                            </div>
                            <div class="col">
                                <label class="mr-sm-2" for="id_select_cliente">Metodo de Pago</label>
                                <select class="form-select mr-sm-2" id="id_select_metodo_pago" name="PaymentMethod"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="mr-sm-2" for="id_select_producto">Producto</label>
                                <!--
                                <select
                                    name="Producto"
                                    class="form-select mr-sm-2"
                                    id="id_select_producto"
                                    onchange="listarProductos('{% url 'get_product' %}')">
                                -->
                                <select
                                    name="Producto"
                                    class="form-select mr-sm-2"
                                    id="id_select_producto">
                                </select>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $("#id_select_producto").change(function () {
                                    var id_producto = $(this).val();
                                    $.ajax({
                                        url: "{% url 'producto_cfdi' %}",
                                        data: {
                                            id_producto: id_producto,
                                        },
                                        dataType: 'json',
                                        success: function (data) {
                                            var tbody = document.getElementById("id_tabla_producto").getElementsByTagName("tbody")[0];
                                            $.each(data.lista_productos,function(i,obj){
                                                var rowCount = $("#id_tabla_producto >tbody >tr").length;
                                                var items =
                                                "<tr>"+
                                                    "<input type='hidden' name='id_producto_"+rowCount+"' class='form-control' id='objproducto' value='"+obj.Id+"' />"+
                                                    "<td><input type='text' name='Cantidad_"+obj.Id+"' class='form-control' id='id_cantidad' placeholder='Cantidad' required /></td>"+
                                                    "<td>"+obj.UnitCode+"</td>"+
                                                    "<td>"+obj.Name+"-"+obj.Description+"</td>"+
                                                    "<td>"+obj.Price+"</td>"+
                                                "</tr>"
                                                ;
                                                tbody.insertRow().innerHTML=items;
                                            });
                                        },
                                    });
                                });
                            });
                        </script>
                        <div class="row">
                            <table class="table" id="id_tabla_producto">
                                <thead>
                                    <tr>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Claves</th>
                                        <th scope="col">descripción</th>
                                        <th scope="col">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <input class="btn btn-rounded btn-primary" type="submit" value="Crear" />
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="form-group mb-2">
                        <label class="mr-sm-2" for="id_select_cliente">Lugar de Expedicion</label>
                        <select class="form-select mr-sm-2" id="id_select_expedicion"></select>
                    </div>  {% endcomment %}
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Facturas</h5>
            <h6 class="card-subtitle mb-3 text-body-secondary">Lista de Facturas</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Folio</th>
                        <th scope="col">Receptor</th>
                        <th scope="col">Rfc</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Metodo de Pago</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                    <tr>
                        <th scope="row">{{ factura.Folio }}</th>
                        <td>{{ factura.TaxName }}</td>
                        <td>{{ factura.Rfc }}</td>
                        <td>{{ factura.Date }}</td>
                        <td>{{ factura.PaymentMethod }}</td>
                        <td>{{ factura.Total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">Facturas</div>
            {% comment %} <iframe type="text/html" src="{% url 'get_cfdi' %}" title="description"></iframe> {% endcomment %}
        </div>
    </div>
</div>
<script>
    obtenerCliente("{% url 'get_clients' %}")
    obtenerProducto("{% url 'get_product' %}")
    obtenerFormaPago("{% url 'get_payment_form' %}")
    //obtenerUso("{% url 'get_cfdi_use' %}")
    obtenerMetodo("{% url 'get_payment_method' %}")
    obtenerTypeCfdi("{% url 'get_cfdi_type' %}")
    //obtenerPostalCodes("{% url 'get_postal_codes' %}")
</script>
{% endblock %}
